body {
    margin: 0;
    font-family: arial;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header-area {
    background: #3b5998;
    padding: 10px;
}

.w-30 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.w-70 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.w-45 {
    width: 42%;
    padding-right: 20px;
    float: left;
    box-sizing: border-box;
}

.w-10 {
    width: 16%;
    float: left;
    box-sizing: border-box;
}

.w-10 .login-btn input[type="submit"] {
    margin-top: 22px;
    border: 2px solid #273d92;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    background: #4166af;
    overflow: hidden;
    padding: 0px 8px;
    font-weight: bold;
    font-family: arial;
}

.w-45 label {
    color: #ffffff;
    font-size: 12px;
}

.w-45 .password-area a {
    font-size: 16px;
    color: #7997ce;
    text-decoration: none;
}


.w-45 label,
.w-45 input[type="text"],
.w-45 input[type="password"] {
    display: block;
    margin-bottom: 7px;
}

.w-45 input[type="text"],
.w-45 input[type="password"] {
    border: 2px solid #202e48;
    border-radius: 2px;
}

.w-30 .logo-area {
    padding-top: 26px;
}

.w-70 .login-area {
    float: right;
}

.main-area {
    background-image: linear-gradient(#fafcf9, #d5dbe9);
    padding: 20px 0px;
}

.main-area .w-50 {
    width: 50%;
    float: left;
    overflow: hidden;
}

.main-area .facebook-helps h3 {
    margin: 0;
    color: #2a5c73;
    font-size: 19px;
    width: 48%;
    padding-left: 40px;
    font-family: arial;
}

.main-area .people-connect img {
    width: 85%;
    padding-left: 40px;
}

.main-area .create-area {
    width: 85%;
    margin: auto;
    float: right;
}

.main-area .create-area .account-hadding h1 {
    margin: 0;
}

.main-area .create-area .account-hadding h3 {
    margin: 0;
    margin-top: 16px;
    font-size: 16px;
    font-weight: normal;
}

.main-area .reg-form form {
    margin-top: 14px;
    overflow: hidden;
}


.main-area .reg-form form input[type="text"],
.main-area .reg-form form input[type="email"],
.main-area .reg-form form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid #e6e7f0;
    border-radius: 5px;
    padding: 7px;
}


.main-area .reg-form .first-last .name-50 {
    width: 50%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.main-area .reg-form .first-last {
    overflow: hidden;
}

.main-area .reg-form .first-last .f-speas {
    margin-right: 10px;
}

.main-area .reg-form .birthday-text {
    margin-top: 20px;
    color: #32313a;
    font-weight: bold;
    font-size: 17px;
}

.birthday-select {
    overflow: hidden;
}

.main-area .reg-form .birthday-select {
    margin-top: 2px;
}

.main-area .reg-form .birthday-select select {
    padding: 5px;
    border: 2px solid #cfd0d7;
    margin-top: 6px;
    background: #dddbde;
}


.birthday-select .select-box {
    overflow: hidden;
    float: left;
}

.birthday-select .link-box {
    width: 50%;
    float: left;
    margin-left: 5px;
    overflow: hidden;
}

.birthday-select .link-box a {
    color: #4c68bb;
    font-size: 12px;
    text-decoration: none;

}

.main-area .gander {
    margin-top: 14px;
    overflow: hidden;
}

.main-area .reg-form form p {
    color: #585a73;
    margin-top: 15px;
    font-size: 12px;
}

.main-area .reg-form form .submit {
    margin-top: 30px;
}

.main-area .reg-form form .submit input[type="submit"] {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    background: #67a64c;
    color: #edffe5;
    border: 2px solid #648b57;
    border-radius: 5px;
}
